
/* Youtube 影片輪播 */
  .video-swiper {
    /* @apply pt-9 z-0; */
    padding-top: 36px;
    z-index: 0;
  }
  .video-swiper .swiper-pagination-bullets-dynamic {
    transform: translateX(0) !important;
  }
  .video-swiper .swiper-pagination-bullet {
    @apply opacity-100 bg-[#c0c0c0];
    opacity: 1;
    background-color: #c0c0c0;
  }
  .video-swiper .swiper-pagination-bullet-active {
    @apply bg-[#fff];
    background-color: #fff;
  }
  
  .video-swiper-button-prev, .video-swiper-button-next {
    @apply absolute lg:static z-[1] opacity-0 lg:opacity-100 block hover:scale-110 transition;
    position: absolute;
    opacity: 0;
    display: block;
    transition: opacity 0.3s;
  }
  .video-swiper-button-prev:hover, .video-swiper-button-next:hover {
    @apply scale-110;
    transform: scale(1.1);
  }
  @media screen and (min-width: 1024px) {
    .video-swiper-button-prev, .video-swiper-button-next {
      position: static;
      opacity: 1;
      z-index: 1;
    }
  }
  /* .swiper-button-disabled {
    @apply opacity-50 hover:scale-100;
  } */

  .video-swiper-button-prev {
    @apply left-4;
    left: 16px;
  }
  .video-swiper-button-next {
    @apply right-4;
    right: 16px;
  }


  .video-swiper-pagination {
    @apply static mx-auto py-3.5 transform-none;
    position: static;
    margin: auto;
    padding-top: 14px;
    transform: none;
  }
  .video-swiper__section {
    @apply relative lg:static flex items-center gap-x-5 px-4 lg:px-5 bg-[#1a78a2] mb-3.5 transition;
    position: relative;
    /* display: flex; */
    align-items: center;
    gap: 20px;
    padding: 0 16px;
    background-color: #1a78a2;
    margin-bottom: 14px;
    transition: background-color 0.3s;

  }
  .video-swiper__card {
    /* @apply cursor-pointer relative border-0 lg:border border-transparent hover:border-white transition; */
    @apply cursor-pointer relative border-0 lg:border border-transparent hover:border-white transition aspect-video;
    cursor: pointer;
    position: relative;
    border: 0;
    border-color: transparent;
    transition: border-color 0.3s;
    aspect-ratio: 16/9;
  }
  @media screen and (min-width: 1024px) {
    .video-swiper__card {
      border: 1px solid transparent;
    }
  }
  .video-swiper__card:hover {
    @apply border;
    border: 1px solid #fff;
  }
  .video-swiper__img {
    @apply aspect-video w-full;
    aspect-ratio: 16/9;
    width: 100%;
  }
  .video-swiper__btn {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-white bg-[#FF0033] px-6 py-2 text-xl rounded-[14px];
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #FF0033;
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 14px;
  }